site_name: FENN
site_url: https://pyfenn.org/
site_description: FENN Friendly Environment for Neural Networks
site_author: PyFenn
docs_dir: src

theme:
  name: material
  custom_dir: overrides
  language: en
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - content.code.copy
    - toc.integrate   # right-hand in-page TOC

  palette:
    - scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - User Guide:
      - Configuration: user_guide/configuration.md
      - Logger: user_guide/logger.md
      - Wandb: user_guide/wandb.md
      - Notifications: user_guide/notifications.md
  - CLI:
    - Pull: CLI/pull.md
  - Contribution Guide: contributing.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/pyfenn/fenn
      name: Source on GitHub

extra_css:
  - css/extra.css

copyright: "Copyright &copy; 2025 PyFenn"